html , body , .main-page {
  height: 100%;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: 'Muli', sans-serif;
}
body {
  margin: 0;
}
.nav {
  height: 25px;
  width: 100%;
}
.nav-list {
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 0;
  margin-left: -15px;
  margin-top: 5px;
}
.nav-list li {
  display: inline;
  list-style: none;
  padding: 5px;
  text-align: center;
  color: #b6b4b6;
  font-size: 16px;
}
.header {
  background-image: url("../images/header-bkgrnd2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-align-items: center;
  /* Centers text vertically and horizontally on page */
  align-items: center;
  justify-content: center;
  display: flex;
  /* End center text */
  height: 100%;
}
.header h1 {
  text-align: center;
  font-size: 40px;
  color: #6e707a;
}
.section1 {
  height: 100%;
  background-image: url("../images/section1-bkgrnd.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}
span {
  font-weight: bold;
  font-size: 40px;
}
.section1 h1 {
  text-align: center;
  color: #b7b5c2;
  font-size: 50px;
  vertical-align: middle;
  margin-right: 40px;
}
.section1 p {
  font-size: 34px;
  text-align: center;
  color: #c4c4c4;
  width: 35%;
}
.section2 {
  height: 100%;
  background-image: url("../images/section2-bkgrnd.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 h1 {
  font-size: 50px;
  text-align: center;
  color: #2f06b6;
}
.section2 li {
  font-size: 40px;
  list-style: none;
  text-align: center;
}
.section2 li:nth-child(1){
  font-size: 35px;
  color: #9a9a9a;
}
.section2 li:nth-child(2) {
  font-size: 40px;
  color: #918e8e;
}
.section2 li:nth-child(3) {
  font-size: 50px;
  color: #e3dcdc;
}
